{% extends 'base.html' %}
{% block container %}


<h1 class="display-5 mt-4">Летим из <span data-test="from"> {{ departures }}</span></h1>
<p class="mb-4" >Найдено
    <span data-test="tourcount">
        {{ count_tours }}
    </span>
    {% if count_tours == 1 %}
    тур,
    {% elif count_tours <= 4 %}
    тура,
    {% elif count_tours >= 5 %}
    туров,
    {% endif %}от
    <span data-test="pricemin">{{ min_price }}</span> до
    <span data-test="pricemax">{{ max_price }}</span> и от
    <span data-test="nightsmax">{{ min_nights }}</span> ночей до
    <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
<!-- HERO -->
<!-- CARDS -->

  <div class="row mt-5" data-test="cards">
    {% for id, property in departures_filter.items %}
    <div class="col-4" data-test="card">
        <div class="card mb-3" >
        <img src="{{ property.picture }}" class="card-img-top img-fluid" data-test="picture" style="height: 15vw">
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
         <p class="card-text">{{ property.description }}</p>
            <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
